body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0f7fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 20px 0;
    color: #00796b;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #00796b;
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.8s;
}

button:hover {
    background-color: #00796b;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f1f8e9;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

li button {
    background-color: #e91e63;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 4px;
    transition: 0.8s;
}

li button:hover {
    background-color: #c2185b;
}
